<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineBookstore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-danger">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">The Online Bookstore</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                </div>
            </div>
        </nav>
    </header>



    <div class="container justify-content-center">
        <main role="main" class="pb-3">
            <!--invisible element-->
            <div class="align-content-center btn-lg invisible">Eat Fresh Ice Cream from Wyoming</div>
            <!--Heading-->
            
            <h1 class="display-4 shadow p-3 mb-5 col-6 mx-auto justify-content-center text-center rounded-pill d-block bg-light border-bottom border-right border-secondary">
                <attr title="Your Favorite Books">The Online Bookstore</attr>
            </h1>
            
            <!--Body Content-->
            <div class="container p-2 justify-content-center d-sm-inline-flex bg-dark shadow rounded">
                <br />
                <div class="col-9 p-2 float-lg-right flex-fill d-inline-flex">
                    @RenderBody()
                </div>
                <div class="col-3 p-2 float-lg-left text-center">
                    <vc:navigation-menu />
                </div>
            </div>

            <br /><br />
        </main>
    </div>


    <footer class="border-top footer bg-light">
        <div class="container">
            &copy; 2021 - The Online Bookstore - David Schraedel
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
