

@model Cart

<div class="">
    <!--Cart summary information-->
    @if (Model.Lines.Count() > 0)
    {
        <small class="navbar-text text-center text-white p-1">
            @Model.Lines.Sum(x => x.Quantity) item(s) - @Model.ComputeTotalSum().ToString("c")
        </small>
    }
    <!--Cart button-->
    <a class="btn btn-sm btn-light navbar-btn " asp-page="/Buy"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        View Cart
    </a>
</div>